.border-selector-wrapper {
    width: 700px;
    height: 350px;
    background-image: url('../assets/borderbox1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .border-selector-wrapper:hover{
    transform: scale(1.03);
  }

  .border-scroll-list {
    display:flex;
    flex-direction: row;
    gap: 20px; 
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    max-width: 65%;
    margin: 0 auto;
    padding: 0 10px;
    align-items: center;
  }
  
  

.border-image{
    height: 600px;
    width: auto;
    
}

  .border-thumb {
    flex-shrink: 0;
    height: 150px;
    width: auto;
    transition: border-color 0.2s;
    border-color: pink; 
  }
  
  .border-thumb:hover {
    filter: drop-shadow(0 0 4px rgba(255, 37, 164, 0.5));
  }